{% extends 'base.html' %} {% block title %} Listar Peliculas {% endblock %} {% block content %}
<div class="row">
    <div class="col">
        <h3 class="one">Listado</h3>
    </div>
    <div class="col-autor">
        <a class="btn btn-primary pull-right" href="{% url 'book:create.author' %}">
            <i class="fa fa-add"></i> Crear Pelicula
        </a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Sinopsis</th>
            <th>Portada</th>
        </tr>
    </thead>
    <tbody>
        {% for peliculas in authors %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ peliculas.name }}</td>
            <td>{{ peliculas.country|upper }}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-warning" href="{% url 'pelicula:update' peliculas.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="{% url 'pelicula:delete' peliculas.id %}">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}