body {
    background: url(../fondo/fondo-cine1.jfif) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card-center {
    display: grid;
    justify-content: center;
    align-content: center;
}

.card-center>img {
    width: 150px;
    height: 130px;
}

.avatar {
    width: 232px;
    height: 250px;
}