{% extends 'base.html' %} {% load static %} {% block title %} Actualizar Cliente {% endblock %} {% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ form.avatar.value.url }}" class="rounded float-left avatar mb-4"> {{ form.avatar }}
        </div>
        <div class="col-sm-9">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                        {{ form.dni.label }}
                    </label>
                <div class="col-sm-8">
                    {{ form.dni }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                        {{ form.nombres.label }}
                    </label>
                <div class="col-sm-8">
                    {{ form.nombres }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                        {{ form.apellidos.label }}
                    </label>
                <div class="col-sm-8">
                    {{ form.apellidos }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                        {{ form.genero.label }}
                    </label>
                <div class="col-sm-8">
                    {{ form.genero }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                        {{ form.fecha_nacimiento.label }}
                    </label>
                <div class="col-sm-8">
                    {{ form.fecha_nacimiento }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                        {{ form.correo.label }}
                    </label>
                <div class="col-sm-8">
                    {{ form.correo }}
                </div>
            </div>
            <button class="btn btn-warning text-white" type="submit">Actualizar</button>
            <a class="btn btn-info" href="{% url 'book:list.author' %}">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}